* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  background-color: #171723;
  box-sizing: border-box;
}
h1 {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input {
  /* display: block; */
  background-color: #24273c;
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 5px;
  padding-left: 54px;
  font-size: 17px;
}
.main__input {
  background-color: #24273c;
  border: none;
  font-size: 17px;
  margin-left: 18px;
  margin-right: 20px;
  width: 100%;
}
.input__button {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 17px;
  width: 500px;
}
.add__todo__btn {
  width: 21px;
  background-color: #24273c;
  cursor: pointer;
}
/* .input__button::before {
  content: "";
  position: absolute;
  left: 16px;
  top: 50%;
  /* transform: translateY(-50%);
  background-image: url("./images/plus-sign-button\ \(1\).png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}  */

.todo_list {
  display: flex;

  align-items: center;
  margin-top: 2px;
  background-color: #24273c;
  width: 500px;
  border-radius: 5px;
}
.todo {
  padding-left: 17px;
  display: flex;
  align-items: center;
}
.input__check {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #838590; /* цвет границы чекбокса */
  background-color: transparent;
  margin-left: 16px;
  flex-shrink: 0;
}
.input__check:checked {
  background-color: #a6fbc0;
}
.input__list {
  padding-top: 30px;
}
.delete {
  cursor: pointer;
  text-align: center;
}
.line-through {
  text-decoration: line-through;
  color: grey;
}
.cart_img {
  background-color: #24273c;
  width: 17px;
  margin-right: 20px;
  cursor: pointer;
}
@media (max-width: 440px) {
  .input {
    width: 100%;
  }
  .todo_list {
    width: 100%;
  }
  .container {
    align-items: stretch;
  }
}
